<!DOCTYPE html>
<html>
<head>
  <title>baggggg</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav class="navbar">

  <div class="nav-left">
    <a href="/" class="logo">home</a>

    <a href="/bag">Bag</a>
    <a href="/customers">customer</a>
    <a href="/orders">orders</a>
    <a href="/reports/">Report 1</a>
    <a href="/reports/report2">Report 2</a>
  </div>

  <div class="nav-right">
    <button id="themeToggle" class="theme-toggle"></button>
  </div>

</nav>

<div class="content">